# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.exe
*.ilk
*.zip
*.exp
*.obj
*.dll
*.pdb
*.nativecodeanalysis.xml
*.lib
build

/.idea/
.vs
/.vscode/

c_cpp_properties.json
settings.json
.clangd